.navbar {
    background-color: #28a745; /* Azul */
    background-image: blue;
}

.navbar-brand img {
    background-color: transparent; /* Hacer el fondo del logo transparente */
}

.navbar-nav .nav-link {
    color: black; /* Gris */
}

.navbar-nav .nav-link:hover {
    color: #fff; /* Blanco */
}
body {
    /* From https://css.glass */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Para evitar que el desenfoque se extienda más allá del cuerpo */

    /* Fondo con efecto de vidrio */
    position: relative;
    height: 100vh; /* Toma el 100% del alto de la ventana */
    background: rgba(0, 0, 0, 0.2); /* Color de fondo semi-transparente */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px); /* Aplica el desenfoque */
    -webkit-backdrop-filter: blur(5px); /* Para navegadores webkit */
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-image: url(../img/forest.jpg); /* Imagen de fondo */
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    z-index: -1; /* Asegura que el fondo esté detrás de otros elementos */
}
